<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Withdraw request list </h4>
      </div>
      <div class="card-body">
        <div *ngIf="isLoading" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>#</th>
              <th>Username</th>
              <th>Email</th>
              <th>Montant</th>
              <th>PM ACcount</th>
              <th>Statut</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor = "let item of listeItems ; let i = index">
                <th scope="row">{{i+1}} </th>
                <td>{{item.auteur.username}} </td>
                <td>{{item.auteur.email}} </td>
                <td>{{item.montant}} </td>
                <td>{{item.portfeuille.num_compte}} </td>
                <td>{{item.statut}} </td>
                <td>
                  <button (click)="confirmAction('valider', item)" class="btn btn-success" title="Valider"><i class="fa fa-check"></i></button>
                  <button (click)="confirmAction('annuler', item)" class="btn btn-danger" title="Annuler"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            </tbody>
            <!-- <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>
 
<!-- Confirmation Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" style="display: {{showModal ? 'block' : 'none'}};">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir {{action}} cette demande de retrait?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="executeAction()">Oui</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Non</button>
      </div>
    </div>
  </div>
</div>
</div>
