<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Deposit list </h4>
      </div>
      <div class="card-body">
        <div *ngIf="isLoading" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>#</th>
              <th>Username</th>
              <th>Email</th>
              <th>Montant</th>
              <th>Date</th>
              <!-- <th>Statut</th> -->
              <!-- <th>Action</th> -->
            </thead>
            <tbody>
              <tr *ngFor = "let item of listeItems ; let i = index">
                <th scope="row">{{i+1}} </th>
                <td>{{item.auteur.username}} </td>
                <td>{{item.auteur.email}} </td>
                <td>{{item.montant}} </td>
                <td>{{item.date}} </td>
                <!-- <td>{{item.statut}} </td> -->
                <td>
                  <!-- <button (click)="confirmAction('valider', item)" class="btn btn-success" title="Valider"><i class="fa fa-check"></i></button>
                  <button (click)="confirmAction('annuler', item)" class="btn btn-danger" title="Annuler"><i class="fa fa-times"></i></button> -->
                </td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
 

</div>
